name: Build and Release

on:
   release:
      types: [created]

jobs:
   build-linux:
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v4

         - name: Install native build dependencies
           # fakeroot and dpkg are usually pre-installed, but 'rpm' is required for RPM builds
           run: |
              sudo apt-get update
              sudo apt-get install -y rpm fakeroot

         - name: Use Node.js
           uses: actions/setup-node@v4
           with:
              node-version: "24"

         - name: Install dependencies
           run: npm install

         - name: Build and Package
           run: npm run make -- --platform=linux --arch=x64
